#hq{
    height:600px;
    width: 300px;
    text-transform:uppercase;
    color: black;
    text-align: center;
    margin: 100px auto auto;
    border: solid black 2px;
    background-color:black;
    border-radius: 30px;

    
}

#hq1{
    

    border: 10px solid rgb(124, 77, 33);
    height: 100px;
    width: 100px;
    margin: 100px auto 20px auto;
    border-radius: 100px;
    background-color: green;
    
    background-position:right;
    background-size: cover;
    
    
    
}


#hq2{
    border: 10px solid rgb(124, 77, 33);
    height: 100px;
    width: 100px;
    margin: 10px auto 20px auto;
    border-radius: 100px;
    background-color: yellow;
    
}
#hq3{
    border: 10px solid rgb(124, 77, 33);
    height: 100px;
    width: 100px;
    margin: 20px auto 100px auto;
    border-radius: 100px;
    background-color: red;



}

#hw{
    border: 1px solid black;
    width: 50px;
    height: 500px;

    
    margin: 0px auto 0px auto;
    
    background-color: black;
    opacity: 0.8;
    
}
    
    
    


    

